*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 231, 231);
    display: flex;
    justify-content: center;
}
div{
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
    width: 500px;
    height: 700px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
h1{
    text-align: center;
    padding: 20px;
}
.todo-list{
    list-style-type: none;
}
.first,.second,.third,.fourth,.fifth{
    border: 1px solid white;
    background-color: rgb(194, 239, 194);
    height: 110px;
    margin: 20px;
    border-radius: 15px;
}
input{
    margin-left:20px;
    margin-top:20px;
    margin-right:5px;
}
.sub-item{
    padding-left: 50px;
    padding-top: 20px;
    list-style-type: square;
}
.sub-item-link{
    padding-left: 20px;
}
a{
    text-decoration: none;
    color: blue;
}
a:link{
    color: blue;
}
a:hover{
    color: red;
}
a:active{
    color: green;
    border: 2px solid blue;
}
a:focus{
    outline: auto;
    color: blueviolet;
}
a:visited{
    color: blueviolet;
}