body{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.container{
    background-color: whitesmoke;
    height:550px;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 5px #ffffff1a;
    border: 2px solid whitesmoke;
    columns: whitesmoke;
}
h1{
    margin: 10px;
    padding: 10px;
}
label{
    width: 300px;
    margin: 5px;
}
input{
    height: 20px;
    border-radius: 5px;
    margin: 5px;
    outline: red;
}
textarea{
    border-radius: 5px;
    background-color: #ffffff1a;
    width: 95%;
    border-radius: 5px;
    padding: 10px;
}
button{
    color: white;
    background-color: green;
    border: 0px;
    box-shadow: none;
    width: 450px;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
fieldset{
    height: 50px;
    margin: 10px;
    width: 450px;
}
fieldset legend {
  font-size: 1.3rem;
  font-weight: 600;
}
#name{
    width: 450px;
}
#email{
    width: 450px;
}
#position{
    width: 450px;
    height: 25px;
    border-radius: 5px;
}

input:focus,textarea:focus{
    border-color: green;
}
input:invalid,
select:invalid,
textarea:invalid{
    border-color: red;
}
button:hover{
    background-color: black;
}
.radio-group input[type="radio"]:checked{
    color: green;
    border-color: green;
    background-color:green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
input:first-of-type{
    border-radius: 5px;
}
input[type="radio"]:checked + label {
  color: green;
  font-weight: bold;
}
input:valid,select:valid,textarea:valid{
    border-color:green ;
}
